/magento/.buildpath
/magento/.cache
/magento/.metadata
/magento/.project
/magento/.settings
atlassian*
/magento/nbproject
/magento/sitemap
/magento/sitemap.xml
/magento/.idea
/magento/.gitattributes
/magento/app/config_sandbox
/magento/app/etc/config.php
/magento/app/etc/env.php
/magento/app/code/Magento/TestModule*
/magento/lib/internal/flex/uploader/.actionScriptProperties
/magento/lib/internal/flex/uploader/.flexProperties
/magento/lib/internal/flex/uploader/.project
/magento/lib/internal/flex/uploader/.settings
/magento/lib/internal/flex/varien/.actionScriptProperties
/magento/lib/internal/flex/varien/.flexLibProperties
/magento/lib/internal/flex/varien/.project
/magento/lib/internal/flex/varien/.settings
/magento/node_modules
/magento/.grunt
/magento/Gruntfile.js
/magento/package.json

/magento/pub/media/*.*
!/magento/pub/media/.htaccess
/magento/pub/media/catalog/*
!/magento/pub/media/catalog/.htaccess
/magento/pub/media/customer/*
!/magento/pub/media/customer/.htaccess
/magento/pub/media/downloadable/*
!/magento/pub/media/downloadable/.htaccess
/magento/pub/media/import/*
!/magento/pub/media/import/.htaccess
/magento/pub/media/theme/*
/magento/pub/media/theme_customization/*
!/magento/pub/media/theme_customization/.htaccess
/magento/pub/media/wysiwyg/*
!/magento/pub/media/wysiwyg/.htaccess
/magento/pub/media/tmp/*
!/magento/pub/media/tmp/.htaccess
/magento/pub/media/captcha/*
/magento/pub/static/*
!/magento/pub/static/.htaccess

/magento/var/*
!/magento/var/.htaccess
/magento/vendor/*
!/magento/vendor/.htaccess
